.admin {
    background-color: antiquewhite;
    padding-top: 40px;
}

.admin h1 {
    text-align: center;
    color: darkcyan;
}

.admin .parent {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.admin .parent .products {
    flex: 3;
    border: 1px solid red;

}

.admin .parent .coupons {
    flex: 2;

}

.admin .form {
    border: 1px solid #9a9a9b;
    border-radius: 6px;
    width: 400px;
    padding: 12px;
    background-color: white;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.admin .form h3 {
    text-align: center;
    font-family: 'segoe UI', Verdana, sans-serif;
    font-weight: 200;
    color:#9a9a9b;
}

.admin .form div {
    margin-bottom: 12px;
}

.admin .form .controls {
    margin-top: 18px;
    text-align: center;
}

.admin .prod {
    display: flex;
    align-items: center;
    list-style-type: none;
    border: 1px solid #acacac;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    background-color: white;
}

.admin .prod img {
    height: 70px;
}

.admin .prod label {
    flex: 1;
}